body {
    margin: 0;
    font-size: 14px;
}
nav {
    width: 100vw;
    height: 50px;
    /* padding: 6px; */
}
ul {
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li {
    margin-left: 16px;
}
li a {
    color: #555;
    text-decoration: none;
    
}
.cate {
    width: 20px;
    height: 20px;
    /* background-color: pink; */
}
.cate > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dot {
    width: 4px;
    height: 4px;
    margin: 1px;
    background-color: #555;
    border-radius: 3px;
}
.my {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    
    background-image: url('../images/overwatch/images/hero30.png');
    background-size: cover;
}
/* main */
.logo {
    width: 272px;
    height: 92px;
    margin: 100px auto 0;
    background-image: url(../images/google_logo.svg);
    background-repeat: no-repeat;
}
.search {
    width: 561px;
    height: 44px;
    margin: 40px auto;
    border-radius: 50px;
    box-shadow: #555 0.5;
    /* background-color: antiquewhite; */
    box-shadow: 0px 2px 5px 5px #eee;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.src {
    background-image: url('../images/icon_search.svg');
}
.mic {
    background-image: url('../images/googlemic_clr_24px.svg'); 
}
input {
    width: 400px;
    height: 40px;
    border-style: none;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
}
/* container */




