/* 배너 */
.banner {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.55);
    background-image: linear-gradient(67deg,#555 36%,#56433c 51%);
    display: flex;
}
.banner:hover .hover_box {
    opacity: 1;
}
/* .banner > a {
    width: 100%;
    height: 100%;
} */
.img_box {
    width: 370px;
    height: 258px;

    position: relative;
 
}
.txt_box {
    width: 55%;
}
.hover_box {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(20, 20, 20, 0) 10%);
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
    transition: all 0.5s;
}
.b_playbtn {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 10px;
    bottom: 16px;
    transition: all 0.3s;
}
.b_playbtn:hover {
    background-color: #ff1150;
}
.b_playbtn:hover .play_arrow {
    transform: scale(1.2);
}

.play_arrow {
    width: 20px;
    height: 20px;
    background-position: -262px -755px;
    transition: all 0.3s;
}
.b_more_dot {
    width: 27px;
    height: 10px;
    background-position: -520px -430px;

    position: absolute;
    right: 10px;
    bottom: 22px;
}
.b_img > img {
    width: 370px;
    height: 250px;
    /* background-image: url('./vibe/NAVER VIBE(바이브)_files/banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.txt_box {
    padding: 30px 34px;
}
.txt_box > img {
    width: 77px;
    height: 28px;
}
.txt_box > h1 {
    font-size: 28px;
    margin: 0;
}
.txt_box > p {
    font-size: 14px;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.7);
}
.b_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 컨테이너 */
/* hover btn */
.play_btn {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 10px;
    bottom: 10px;
    transition: all 0.3s;
}
.play_btn:hover {
    background-color: #ff1150;
}
.play_btn:hover .play_arrow {
    transform: scale(1.2);
}
.more_dot {
    width: 27px;
    height: 10px;
    background-position: -520px -430px;

    position: absolute;
    right: 10px;
    bottom: 24px;
}
/*  */
.container {
    margin-bottom: 40px;
    overflow: hidden;
}
.con_title {
    padding-top: 30px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.con_title > p {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
.con_dumi {
    display: flex;
}
.con_info {
    margin-right: 14px;
}
.con_img {
    width: 285px;
    height: 285px;
    position: relative;
}
.con_info:hover .hover_box {
    opacity: 1;
}
.con_img > img {
    width: 100%;
    height: 100%;
}
.con_txt p {
    color: #eee;
    margin: 10px 0;
}
.date {
    color: #999;
    margin: 0;
}
/* 뉴스 - 설정 */
.news_con {
    width: 285px;
    height: 168px;
    position: relative;
}
