* {
    color: #fff;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #000;
}
.wrap {
    position: relative;
}
header {
    width: 225px;
    padding: 20px;
    overflow-y: auto;
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border-right: 1px solid rgba(153, 153, 153, 0.2);
}
.m_header {
    display: none;
}
main {
    margin: 0 auto;
    padding: 50px 50px 50px 270px;
    overflow: hidden;
    /* padding-left: 225px; */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
/* p {
    margin: 0;
} */
/* 헤더 내용 */

.icon {
    width: 20px;
    height: 20px;
    background-image: url('https://cdn-vibe.pstatic.net/v1/vibe/vibeweb/20231007001140_resources/img/sp_topbar.abb84804.svg');
}
.icon2 {
    width: 17px;
    height: 14px;
    background-image: url('https://cdn-vibe.pstatic.net/v1/vibe/vibeweb/20231007001140_resources/img/sp_vibe.5e308b02.svg');
}

.logo > div {
    /* width: 114px;
    height: 20px;
    background-image: url('./vibe/NAVER\ VIBE\(바이브\)_files/logo.png');
    background-repeat: no-repeat;
    padding: 20px; */
    padding: 10px 0;
}

.membership > div {
    display: flex;
    align-items: center;

    padding: 14px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
.profile_img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 30px;
    background-image: url('https://cdn-vibe.pstatic.net/v1/vibe/vibeweb/20231007001140_resources/img/sp_topbar.abb84804.svg');
    background-position: -627px -104px;
}
.membership span {
    color: #999;
    font-size: 15px;
}
.membership_ch > p {
    font-size: 14px;
    color: #999;
}
.membership_btn {
    width: 177px;
    height: 44px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-image: linear-gradient(104deg,#ff0c28 9%,#d901df 51%,#7200ff 98%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.membership_btn_w {
    width: 100px;
    height: 16px;
    background-image: url('https://cdn-vibe.pstatic.net/v1/vibe/vibeweb/20231007001140_resources/img/sp_topbar.abb84804.svg');
    background-position: -426px -68px;
}
.search_box {
    width: 177px;
    height: 44px;
    background-color: #1a1a1a;
    border-radius: 6px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    background-position: -228px -606px;
}
.search_box > input {
    width: 130px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #1a1a1a;
    border-style: none;
}
.top_cate {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
ul span {
    font-size: 17px;
    color: #999;
    margin: 0 10px;
}
.bottom_cate {
    margin-bottom: 100px;
}
li a {
    margin-left: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}
li:hover li > a > span{
    color: #fff;
}
.today {
    background-position: -312px -606px;
}
.chart {
    background-position: -353px -509px;
}
.new_album {
    background-position: -561px -570px;
}
.dj_station {
    background-position: -409px -509px;
}
.mag {
    background-position: -549px -509px;
}
.monthly {
    background-position: -590px -538px;
}
.service {
    background-position: -393px -279px;
}
.mymoney {
    background-position: -340px -606px;
}
.onstage {
    background-position: -32px -606px;
}
.audio {
    background-position: -488px -480px;
}
.app_download {
    width: 177px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    background-color: #000;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    /* margin-top: 100px; */

    position: absolute;
    bottom: 30px;
    left: 24px;
}
.app_download span {
    color: #999;
}

/* footer */
footer {
    background-color: #111;
    padding: 0 80px;
    padding-bottom: 60px;
}
.footer_top {
    padding: 20px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice_box {
    font-size: 13px;
}
.title {
    color: #666;
}
.notice:hover {
    text-decoration:underline;
}
.sns {
    display: flex;
    justify-content: flex-end;
}
.under_sns {
    display: none;
}
.facefook {
    width: 26px;
    height: 26px;
    margin: 0 10px;
    background-position: -429px -264px;
}
.instagram {
    width: 26px;
    height: 26px;
    margin: 0 10px;
    background-position: -38px -665px;
}
.naverblog {
    width: 26px;
    height: 26px;
    margin: 0 10px;
    background-position: -106px -665px;
}
.footer_mid {
    padding: 20px 0;
}
.company > span {
    color: #999;
    margin-right: 10px;
    display: inline-block;
}
.company span {
    font-size: 13px;
}
.detail {
    font-size: 13px;
}
.detail a > span {
    margin-right: 14px;
    color: #666;
    display: inline-block;
}
.icon_flex {
    position: relative;
    display: inline-block;
}
.icon_flex > span {
    padding-left: 25px;
    line-height: 16px;
}
.smartbot {
    background-position: -512px -548px;
    position: absolute;
    top: 1px;
    left: 5px;
}
.toktok {
    background-position: -785px -71px;
    position: absolute;
    top: 2px;
    left: 9px;
}
.corp_box {
    display: inline-block;
}
.corp {
    font-size: 14px;
    color: #999;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* player_controller */
.player_controller {
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    padding: 12px 18px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
}
/* play_info */
.play_info {
    display: flex;
    align-items: center;
}
.play_img > img {
    width: 44px;
    height: 44px;
}
.song_info {
    width: 100%;
    max-width: 20vw;
    margin: 10px 16px 10px 10px; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.song_info a {
    display: block;
    font-size: 13px;
}
.song_info :nth-child(1) {
    font-weight: 900;
    font-size: 14px;
}
.song_info :nth-child(2) {
    color: #999;
    font-size: 13px;
    margin: 5px 0;
}
.play_icon {
    display: flex;
}
.play_icon a {
    width: 22px;
    height: 22px;
    margin-right: 16px;
}
.like {
    background-position: -727px -394px;
}
.lyrics {
    background-position: -727px -484px;
}
.ect {
    background-position: -727px -544px;
}
/* controller */
.controller {
    display: flex;
    align-items: center;
}
.controller a {
    width: 28px;
    height: 28px;
    margin: 0 14px;
}
.random {
   background-position: -94px -699px;
}
.back {
    background-position: -727px -634px
}
.play {
    background-position: -140px -665px
}
.next {
    background-position: -727px -604px;
}
.repeat {
    background-position: -727px -664px;
}
/* vol_ctrl */
.volume {
    display: flex;
    align-items: center;
}
.volume a {
    margin: 0 14px;
}
.r_time {
    font-size: 12px;
    color: #555;
}
.r_time > span {
    color: #999;
}
.vol_ctrl {
    display: flex;
    align-items: center;
}
.vol_icon {
    width: 20px;
    height: 14px;
    background-position: -537px -548px;
}
.rangeInput {
    width: 100px;
    height: 5px;
    outline: none;
    accent-color: #555;
}
.list {
    width: 22px;
    height: 22px;
    background-position: -425px -665px; 
}
